.content {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.player__container {
    flex-grow: 1
}

.player__buttons {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.player__button {
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 35px;
    cursor: pointer;
}

.player__button:focus {
    outline: none;
}

