.content {
    display: flex;
    justify-content: center;
    margin-top: 50px
}

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.player .screen {
    flex-grow: 1
}

.player .bottom-controls {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.player .player__button {
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 35px;
    cursor: pointer;
}

.player .player__button:focus {
    outline: none;
}

.player .viewing-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.player .viewing-panel .viewing-panel-digits {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.player .viewing-panel .viewing-progressbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    height: 5px;
    border-radius: 5px;
    background-color: grey;
    margin: 0 10px;
}

.player .viewing-panel .viewing-progressbar .viewing-progressbar-slider {
    background-color: #f8104d;
    height: 5px;
}

.player .viewing-panel .viewing-progressbar .viewing-cursor {
    width: 8px;
    height: 8px;
    margin-left: -8px;
    border-radius: 50%;
    background-color: #f8104d;
    border: white 4px solid;
    cursor: pointer;
}
